// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #655D8A;
$primary-color-dark: #484263;
$primary-color-darker: rgb(43, 38, 49);
$secondary-color: #583d80;
$ligth-color: #d4ccff;
$primary-color-rgb: rgb(101, 93, 138);

// $primary-color: #7952b3;
// $primary-color-dark: #5c2e9e;
// $primary-color-darker: #452e66;
// $secondary-color: #583d80;
// $ligth-color: #d4ccff;
// $primary-color-rgb: rgb(121, 82, 179);

// standards
$border-radius: 20px;

// rgba para forms
//119, 0, 255, 0.25
