// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #7952b3;
$primary-color-dark: #5c2e9e;
$primary-color-darker: #452e66;

// standards
$border-radius: 20px;
