// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

@import "../css/styles.css";

//css da template
@import "creativeTemplate.scss";

// @media (prefers-color-scheme: dark) {
//     :root {
//         --bs-body-bg: #1c1c1c;
//         --bs-body-color: #f8f9fa;
//         --bs-light: #212529;
//         --bs-dark: #f8f9fa;
//     }
// }

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    margin-top: -150px;
}

.avatar-chico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.btn-login {
    color: #fff;
    border-color: #fff;
    border-radius: $border-radius;
}
.btn-login:hover {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color-dark;
}

.card_avatar {
    width: 50%;
    margin-top: -90px;
}

.custom-rounded {
    border-radius: 50px;
}

.header-img {
    background-color: white;
    border-radius: 50px;
}

.post-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #6c757d;
}

header.post-header {
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    color: #fff;
    //   background-image: url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: $primary-color;
}
header.post-header .post-header-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.post-header .post-header-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.post-header {
        padding-top: 10rem;
        padding-bottom: 1rem;
    }
    header.post-header .post-header-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.post-header .post-header-heading {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 1rem;
    }
}
